:root {
  --color-eraserBtn: #f39213;
  --color-eraserBtn-light: #ffbd67;

  --color-clearBtn: #4caf50;
  --color-clearBtn-light: #82c285;

  --color-toggleLinesBtn: #0060df;
  --color-toggleLinesBtn-light: #8fb6e9;
  --color-toggleLinesBtn-text: white;

  --color-body-background: lightBlue;
  --color-grid-background: white;
}

body {
  background-color: var(--color-body-background);
}

h1 {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

button {
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

input {
  width: 400px;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.eraserBtn {
  background-color: var(--color-eraserBtn);
}

.eraserBtn:hover {
  background-color: var(--color-eraserBtn-light);
}

.clearBtn {
  background-color: var(--color-clearBtn);
}

.clearBtn:hover {
  background-color: var(--color-clearBtn-light);
}

.toggleLinesBtn {
  background-color: var(--color-toggleLinesBtn);
  color: var(--color-toggleLinesBtn-text);
}

.toggleLinesBtn:hover {
  background-color: var(--color-toggleLinesBtn-light);
}

.flexContainer {
  display: flex;
  width: 640px;
  justify-content: space-between;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderContainer > span {
  font-size: 20px;
  font-weight: bold;
}

.grid {
  background-color: var(--color-grid-background);
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
}

.gridItem {
  border: 1px solid rgb(204, 204, 204);
}
